$mobile-max-width: 768px;
$tablet-min-width: 769px;
$tablet-max-width: 1200px;
$desktop-min-width: 1201px;

//mobile first
@mixin tablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

//pc first
@mixin pc-first-tablet {
  @media (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin pc-first-mobile {
  @media (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

//button
@mixin button-small {
  @include sopoqa-12-400;
  padding: 0.8rem 1.2rem;
}

@mixin button-medium {
  @include sopoqa-14-700;
  padding: 1rem 2rem;
}

@mixin button-large {
  @include sopoqa-16-700;
  padding: 1.4rem 13.6rem;
}

//h1
@mixin h1 {
  @include sopoqa-20-700;
  margin-bottom: 1.6rem;

  @include tablet {
    @include sopoqa-28-700;
    margin-bottom: 2.4rem;
  }
}

//main
@mixin main {
  padding: 0 1.2rem;

  @include tablet {
    padding: 0 3.2rem;
  }

  @include desktop {
    padding: 0;
  }
}

// /user page
@mixin user-section {
  padding: 4rem 0;
  margin: auto;
  max-width: 96.5rem;

  @include tablet {
    padding: 6rem 0;
  }
}

@mixin user-article {
  @include flexbox($direction: column, $justify: center, $align: center);
  padding: 6rem 2.4rem;
  border-radius: 1.2rem;
  border: 0.1rem solid $color-gray-20;

  @include tablet {
    padding: 6rem 2.4rem;
  }
}