@use "../styles/global.scss" as *;

.DiaryItem {
  display: flex;
  gap: 15px;
  justify-content: space-between;

  padding: 15px 0px;
  border-bottom: 1px solid $color-gray-30;
}

.DiaryItem .img_section {
  display: flex;
  justify-content: center;
  border-radius: 5px;

  min-width: 120px;
  height: 80px;
  cursor: pointer;
}

.DiaryItem .img_section > img {
  width: 50%;
}

.DiaryItem .img_section_1 {
  background-color: $color-green-20;
}

.DiaryItem .img_section_2 {
  background-color: $color-green-10;
}

.DiaryItem .img_section_3 {
  background-color: $color-yellow;
}

.DiaryItem .img_section_4 {
  background-color: $color-red-30;
}

.DiaryItem .img_section_5 {
  background-color: $color-red-40;
}

//μΈν¬
.DiaryItem .info_section {
  flex: 1;
  cursor: pointer;
}

.DiaryItem .info_section .created_date {
  font-size: 25px;
  font-weight: bold;
}

.DiaryItem .info_section .content {
  font-size: 18px;
}

.DiaryItem .button_section {
  min-width: 70px;
}
